@import "variables";

body {
  background: rgba(0, 0, 0, 0) url(~./assets/body_bg.jpg) repeat-x scroll center 32px;
  line-height: 1;
}

#header {
  .navbar {
    padding: 0;
  }
  .navbar-brand {
    padding-bottom: 0;
    padding-top: 0;
  }
}

#navbarNav {
    .nav-link {
      @extend %extend_1;
      &:visited {
        @extend %extend_1;
      }
      &:hover {
        color: $color_chambray_approx;
      }
      &.router-link-active {
        color: $color_chambray_approx;
        background: $url_1 no-repeat center -80px;
      }
    }
}

#headline {
  h3 {
    font: bold 18px $font_4, $font_5, $font_2;
    color: $color_azure_approx;
    padding-top: 26px;
  }
}

#content {
  padding-top: 40px;
  a {
    color: $color_azure_approx;
    &:hover {
      color: $color_atlantis_approx;
    }
  }
}

#left_col {
  h2 {
    font: bold 16px/30px $font_4, $font_5, $font_2;
    text-transform: uppercase;
    color: $color_atlantis_approx;
  }
  p {
    font: 12px/18px $font_0, $font_1, $font_2;
    color: $color_storm_dust_approx;
    margin: 0 0 20px;
  }
  ul {
    font: 12px/18px $font_0, $font_1, $font_2;
    color: $color_storm_dust_approx;
    padding-left: 20px;
    &#rassegnastampa {
      width: 100%;
    }
    &.pagination {
      padding-left: inherit;
    }
  }
}

#right_col {
  h2 {
    font: bold 16px/30px $font_4, $font_5, $font_2;
    text-transform: uppercase;
    color: $color_atlantis_approx;
    text-indent: 20px;
  }
  img {
    float: left;
  }
  #news h2 {
    font: bold 18px/40px $font_3, $font_0, $font_1, $font_2;
    color: $color_midnight_blue_approx;
    padding: 26px 35px 0;
  }
}

#search {
  width: 310px;
  height: 80px;
  background: $url_2 no-repeat;
  position: relative;
}

#search_input {
  height: 24px;
  width: 190px;
  font: 14px/24px $font_0, $font_1, $font_2;
  color: $color_suva_gray_approx;
  border: none;
  position: absolute;
  top: 27px;
  left: 35px;
}

#search_submit {
  height: 24px;
  width: 35px;
  font: 14px/24px $font_0, $font_1, $font_2;
  color: $white;
  border: none;
  position: absolute;
  top: 27px;
  right: 32px;
  text-align: center;
  background: none;
  cursor: pointer;
}

#news {
  width: 310px;
  background: $url_3 top no-repeat;
  h2 {
    margin: 0;
  }
  ul {
    display: block;
    margin: 0 25px;
    padding-bottom: 15px;
    li {
      width: 260px;
      height: 80px;
      border-top: 1px solid $color_alto_approx;
      position: relative;
      a {
        @extend %extend_2;
        &:visited {
          @extend %extend_2;
        }
        &:hover {
          background: $color_alto_approx;
          cursor: pointer;
        }
      }
    }
  }
}

.title {
  font: bold 14px/18px $font_0, $font_1, $font_2;
  color: $color_atlantis_approx;
  text-align: left;
  text-transform: uppercase;
  width: 240px;
  height: 36px;
  position: absolute;
  left: 5px;
  top: 11px;
}

.author {
  font: 10px/10px $font_0, $font_1, $font_2;
  color: $color_mountain_mist_approx;
  text-align: left;
  width: 240px;
  height: 14px;
  position: absolute;
  left: 5px;
  top: 40px;
}

#footer {
  background: $url_5 no-repeat top center;
  margin: 0 auto;
  .navbar-nav {
    display: inline;
    flex-direction: initial;
    .nav-item {
      display: inline-block;
    }
  }
  li {
    font: 11px/40px $font_0, $font_1, $font_2;
    text-transform: uppercase;
    a {
      @extend %extend_3;
      &:visited {
        @extend %extend_3;
      }
      &:hover {
        color: $color_mine_shaft_approx;
      }
    }
  }
  p {
    text-align: center;
    font: 11px/40px $font_0, $font_1, $font_2;
    color: $color_silver_chalice_approx;
  }
}

#preview {
  @extend %extend_4;
}

.show-feature {
  @extend %extend_4;
}

.ambito {
  width: 280px;
  float: left;
  padding: 0 20px 20px 0;
  img {
    border: 1px $color_azure_approx solid;
    padding: 2px;
  }
  h3 {
    color: $color_atlantis_approx;
    font: bold 14px $font_4, $font_5, $font_2;
    text-transform: uppercase;
    margin: 5px 0;
  }
}

.bordered {
  border: 1px $color_azure_approx solid;
  padding: 2px;
}

acronym {
  cursor: Help;
  border-bottom: 1px dotted $color_azure_approx;
}

#rassegnastampa {
  .posted {
    font: 10px/10px $font_0, $font_1, $font_2;
  }
  img {
    float: left;
    margin: 0 5px 0 0;
  }
}

span.hosting {
  color: $color_alto_approx;
  a {
    color: $color_alto_approx;
    text-decoration: underline;
    &:hover {
      text-decoration: none;
    }
  }
}

#map_canvas {
  height: 400px;
}

#fb-icon {
  padding-top: 4px;
}

#gl-icon {
  padding-top: 6px;
}

#marker_on_map {
  width: 400px;
  height: 75px;
}