{% extends 'base.html.twig' %}

{% block head_scripts %}
    {{ parent() }}
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
{% endblock %}

{% block body %}
    <h2>Dove Siamo</h2>

    <div id="map_canvas">S.A.T. - Studio Associato di Topografia</div>
{% endblock %}

{% block footer_scripts %}
    {{ parent() }}
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js" integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og==" crossorigin=""></script>
    <script type="text/javascript">

        var pin = L.icon({
            iconUrl: 'https://unpkg.com/leaflet@1.5.1/dist/images/marker-icon.png'
        });
        var infowindow = '<h2>S.A.T. - Studio Associato di Topografia</h2> <p>Via Chiesa 51 - 37030 - Vestenanova (VR)</p>';
        var latitude_pin = "45.574961";
        var longitude_pin = "11.226351";
        var map = L.map('map_canvas', {scrollWheelZoom: false}).setView([latitude_pin, longitude_pin], 12);

        L.tileLayer('https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png', {
            attribution: '&copy; <a href="http://osm.org/copyright">OpenStreetMap</a> contributors'
        }).addTo(map);

        L.marker([latitude_pin, longitude_pin], {icon: pin})
            .addTo(map)
            .bindPopup(infowindow).openPopup();

    </script>
{% endblock %}