{% extends 'base.html.twig' %}

{% block body %}

    <h2>Rilievi Topografici</h2>

    <p>S.a.t. opera dal 1997 nel settore della topografia e dell'edilizia a supporto di privati, enti pubblici, imprese e liberi professionisti.</p>

    <div class="row">
        <div class="col-md-4">
            <ul>
                <li>Rilievi topografici con gps</li>
                <li>Rilievi celerimetrici</li>
                <li>Rilievi di poligonali</li>
                <li>Rilievi con laser scanner 3D</li>
            </ul>
        </div>
        <div class="col-md-4">
            <ul>
                <li>Frazionamenti</li>
                <li>Inserimenti in mappa</li>
                <li>Riconfinazioni</li>
                <li>Tracciamenti</li>
                <li>Piani quotati</li>
            </ul>
        </div>
    </div>

    <p>Operiamo su tutto il territorio nazionale, per quanto riguarda le rilevazioni topografiche in ambito catastale, avvalendoci di personale altamente specializzato e tecnologie d'avanguardia. Fiore all'acchiello dell'azienda &#232; il Laser Scanner Leica ScanStation C10.</p>


    <p><img src="{{ asset('immagine-home.jpg') }}" alt="S.A.T. - Studio Associato di Topografia, rilievi gps, rilievo celerimetrico, rilievi topografici" title="S.A.T. - Studio Associato di Topografia, rilievi gps, rilievo celerimetrico, rilievi topografici" /></p>

{% endblock %}