{% extends 'base.html.twig' %}
{% block body %}
    <h2>Rilievi Topografici laser scanner 3d Leica ScanStation C10</h2>

    <p>Il rilievo laser scanner rappresenta un innovativo sistema di misurazione che consente di rilevare e restituire
        con estrema precisione oggetti e superfici di qualsiasi complessità e dimensione fornendone, mediante la
        generazione di un modello costituito da un insieme di milioni di punti 3d, una riproduzione digitale
        assolutamente esatta e corrispondente al reale. Grazie alla sua precisione millimetrica, il rilievo laser
        scanner rappresenta il metodo più efficiente e preciso di misurazione e documentazione 3d attualmente
        realizzabile per architetture complesse, infrastrutture, impianti industriali, scavi archeologici e porzioni di
        territorio. </p>
    <p>La tecnologia Laser Scanner 3D permette di scattare con una sofisticata apparecchiatura delle fotografie
        tridimensionali in bianco e nero. Tali immagini sono composte da milioni di pixel e a ciascun pixel corrisponde
        una posizione geografica con tanto di coordinate.</p>
    <p>Lo studio associato di topografia SAT esegue lo scanning 3D con LEICA SCANSTATION C10 in diversi ambiti.</p>

    <div class="row">
        <div class="col-sm-4 ambito">
            <h3>Architettura</h3>
            <img src="{{ asset('architettura.jpg', 'images') }}"
                 title="Applicazioni del laser scanner 3d Leica ScanStation C10 in Architettura"
                 alt="Applicazioni del laser scanner 3d Leica ScanStation C10 in Architettura" class="img-fluid" />
            <p>Il laser scanner in architettura è utilizzato per rilievi di facciate, interno di edifici complessi. Il
                vantaggio delle rilevazioni con laser scanner è che le misurazioni restituiscono molte informazioni
                dettagliate che altri sistemi di rilevazione non forniscono.</p>
        </div>
        <div class="col-sm-4 ambito">
            <h3>Ingegneria</h3>
            <img src="{{ asset('ingegneria.jpg', 'images') }}"
                 title="Applicazioni del laser scanner 3d Leica ScanStation C10 in Ingegneria"
                 alt="Applicazioni del laser scanner 3d Leica ScanStation C10 in Ingegneria" class="img-fluid" />
            <p>Il laser scanner in ingegneria è utilizzato per il rilievo di ponti, infrastrutture varie particolarmente
                complesse difficilmente rilevabili mediante l’utilizzo di strumentazione tradizionale. Il laser scanner
                in
                ingegneria è utilizzato per analisi delle geometrie, della forma, degli scostamenti dalla verticale, le
                analisi del fuori piombo, delle superfici e del degrado strutturale.</p>
        </div>
        <div class="col-sm-4 ambito">
            <h3>Archeologia</h3>
            <img src="{{ asset('archeologia.jpg', 'images') }}"
                 title="Applicazioni del laser scanner 3d Leica ScanStation C10 in Archeologia"
                 alt="Applicazioni del laser scanner 3d Leica ScanStation C10 in Archeologia" class="img-fluid" />
            <p>Il laser scanner in archeologia è utilizzato per la misurazione di siti archeologici e monumenti:
                permette di
                rilevare nel modo più veloce e definito possibile le aree di scavo, anche con immagini ad alta
                risoluzione
                georeferenziate, al fine di non fermare le operazioni stesse per lungo tempo. Si possono realizzare
                misure
                in campo subito dopo la scansione e realizzare ortofoto e modelli tridimensionali. </p>
        </div>
        <div class="col-sm-4 ambito">
            <h3>Industria</h3>
            <img src="{{ asset('industria.jpg', 'images') }}"
                 title="Applicazioni del laser scanner 3d Leica ScanStation C10 nell'Industra"
                 alt="Applicazioni del laser scanner 3d Leica ScanStation C10 nell'Industra" class="img-fluid" />
            <p>Il laser scanner nell'industria è utilizzato per il rilievo di complessi industriali, attrezzature o
                macchinari per lavorazioni. Il laser scanner permmette di analizzare in tempi molto rapidi anche
                impianti
                industriali composti da un elevato numero di elementi interconnessi tra di loro: linee di montaggio,
                condotte, tubazioni e cisterne sono elementi particolarmente complessi da rappresentare con i sistemi
                tradizionali.</p>
        </div>
    </div>

    {% include "menu.servizi.html.twig" %}

{% endblock %}