{% extends 'base.html.twig' %}
{% block body %}
<h2>Frazionamenti e tracciamenti di lottizzazioni</h2>

<p>Clicca sulle anteprime per visualizzare alcuni esempi di frazionamenti e tracciamenti</p>
<a href="{{ asset('Es_fraz_allarg_strada.pdf', 'images') }}" title="alcuni esempi di frazionamenti e tracciamenti"><img src="{{ asset('frazionamento-allargamento-strada.jpg', 'images') }}" class="bordered" title="tracciamento strada" alt="tracciamento strada" /></a>
<a href="{{ asset('Es_fraz_lottizzazione.pdf', 'images') }}" title="alcuni esempi di frazionamenti e tracciamenti"><img src="{{ asset('frazionamento-lotizzazione.jpg', 'images') }}" class="bordered" alt="frazionamento lottizzazione" title="frazionamento lottizzazione" /></a>

    {% include "menu.servizi.html.twig" %}

{% endblock %}