{% extends 'base.html.twig' %}
{% block body %}
<h2>Contatti</h2>

<p>S.A.T. Studio Associato di Topografia<br />
    di Salgaro geom. Adriano & Gonzato geom. Luigi<br />
    Via Chiesa 51 - 37030<br />
    Vestenanova (VR)<br />
    tel. 045/6564028<br />
    <a class="email">info at satgeorilievi.com</a><br />
    CF e PI 03364750236</p>

<h2>Adriano</h2>
<p>PEC: <a class="email">adriano.salgaro at geopec.it</a><br />
    <a class="email">adriano at satgeorilievi.com</a></p>

<h2>Luigi</h2>
<p>PEC: <a class="email">luigi.gonzato at geopec.it</a><br />
    <a class="email">luigi at satgeorilievi.com</a></p>

{% endblock %}