{% extends 'base.html.twig' %}
{% block body %}
<h2>Frazionamenti e tracciamenti di lottizzazioni</h2>

<p>Clicca sulle anteprime per visualizzare alcuni esempi di frazionamenti e tracciamenti</p>
<a href="{{ asset('build/static/Es_fraz_allarg_strada.pdf') }}" title="alcuni esempi di frazionamenti e tracciamenti"><img src="{{ asset('build/static/frazionamento-allargamento-strada.jpg') }}" class="bordered" title="tracciamento strada" alt="tracciamento strada" /></a>
<a href="{{ asset('build/static/Es_fraz_lottizzazione.pdf') }}" title="alcuni esempi di frazionamenti e tracciamenti"><img src="{{ asset('build/static/frazionamento-lotizzazione.jpg') }}" class="bordered" alt="frazionamento lottizzazione" title="frazionamento lottizzazione" /></a>

    {% include "menu.servizi.html.twig" %}

{% endblock %}