{% extends 'base.html.twig' %}
{% block body %}
    <h2>Progettazione Edile</h2>
    <p>Immagini e specifiche di Progettazione Edile</p>

    <p>Porta il cursore del mouse sopra l'immagine per visualizzare gli esempi di alcuni nostro progetti per
        l'edilizia.</p>
    <p>
        <img src="{{ asset('build/static/progetto1_off.jpg') }}" class="rollover bordered"
             title="Progettazione edile, realizzazione progetti per edilizia privata e industriale"
             alt="Progettazione edile, realizzazione progetti per edilizia privata e industriale"/>
        <br/>
        <br/>
        <img src="{{ asset('build/static/progetto2_off.jpg') }}" class="rollover bordered"
             title="Progettazione edile, realizzazione progetti per edilizia privata e industriale"
             alt="Progettazione edile, realizzazione progetti per edilizia privata e industriale"/>
    </p>

    {% include "menu.servizi.html.twig" %}

{% endblock %}